* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "PoppinsRegular", sans-serif;
  padding-right: 0 !important;
  scroll-padding-top: 66px;
  scroll-behavior: smooth;
}

code {
  font-family: "PoppinsRegular";
}

@font-face {
  font-family: "PoppinsBlack";
  src: local("Poppins-Black"),
    url("/src/assets/font/Poppins-Black.ttf") format("trueType");
}
@font-face {
  font-family: "PoppinsBold";
  src: local("Poppins-Bold"),
    url("/src/assets/font/Poppins-Bold.ttf") format("trueType");
}
@font-face {
  font-family: "Poppins-ExtraBold";
  src: local("PoppinsExtraBold"),
    url("/src/assets/font/Poppins-ExtraBold.ttf") format("trueType");
}
@font-face {
  font-family: "PoppinsExtraLight";
  src: local("Poppins-ExtraLight"),
    url("/src/assets/font/Poppins-ExtraLight.ttf") format("trueType");
}
@font-face {
  font-family: "Poppins-Light";
  src: local("PoppinsLight"),
    url("/src/assets/font/Poppins-Light.ttf") format("trueType");
}
@font-face {
  font-family: "PoppinsMedium";
  src: local("Poppins-Medium"),
    url("/src/assets/font/Poppins-Medium.ttf") format("trueType");
}
@font-face {
  font-family: "PoppinsRegular";
  src: local("Poppins-Regular"),
    url("/src/assets/font/Poppins-Regular.ttf") format("trueType");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: local("Poppins-SemiBold"),
    url("/src/assets/font/Poppins-SemiBold.ttf") format("trueType");
}
@font-face {
  font-family: "PoppinsThin";
  src: local("Poppins-Thin"),
    url("/src/assets/font/Poppins-Thin.ttf") format("trueType");
}

.css-ekqcaq-MuiButtonBase-root-MuiIconButton-root {
  border-radius: 10px !important;
}

a {
  text-decoration: none;
}
.slick-next {
  display: none !important;
  position: relative !important;
}
.slick-prev {
  display: none;
  font-size: 0;
  line-height: 0;
  position: relative !important;
}
.slick-next:before {
  content: counter(name);
}

line.recharts-cartesian-axis-tick-line {
  display: none;
}
line.recharts-cartesian-axis-line {
  display: none;
}
text.recharts-text.recharts-cartesian-axis-tick-value {
  display: none;
}

ol li {
  color: #fff;
}

.css-1y192dy-MuiTableCell-root {
  padding: 0;
}

.css-269her-MuiTableCell-root {
  padding: 0;
}

.css-vg9aag-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
  .MuiOutlinedInput-notchedOutline {
  border-color: rgba(158, 158, 158, 0.32);
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  z-index: 10;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 14px;
  z-index: 10;
}

::-webkit-scrollbar-track {
  background: transparent;
  z-index: 10;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(251.38deg, #4d64c0 0%, #060b1f 99.76%);
  z-index: 10;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(116, 116, 116);
  z-index: 10;
}
.css-1pduc5x-MuiStack-root {
  padding-top: 0px;
}

.inputField {
  border: none;
  outline: none;
  border-bottom: 1px solid transparent;
  padding: 5px;
  font-size: 22px;
  background: #fff;
  font-family: Poppins-ExtraBold;
  line-height: 1.5;
  color: #000;
  max-width: 120px;
  text-align: center;
}

.inputField::placeholder {
  color: #000;
}

@media (max-width: 900px) {
  .inputField {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .inputField {
    font-size: 16px;
    max-width: 97px;
  }
}

::-ms-reveal {
  display: none;
}

.visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

.zoom-in-out-box {
  margin: 24px 32px 24px 24px;
  width: 30%;
  height: 30%;
  background: transparent;
  animation: zoom-in-zoom-out 1.5s ease infinite;
}

@media (max-width: 450px) {
  .zoom-in-out-box {
    width: 120px;
    height: 120px;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.9s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out;
}
